{% extends "core/skeleton_nonav.html" %}
    
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block body %}
<div class="card shadow mx-auto" style="max-width:600px;">
    <div class="card-body">
	<h4 class="card-title mb-4">{% trans "Password Reset" %}</h4> 
	{% if user.is_authenticated %}
	{% include "account/snippets/already_logged_in.html" %}
	{% endif %}
	<div class="mb-3">
	    <p>{% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
	</div>
	

	<a href="{% url 'home' %}"><button class=" w-100 btn btn-primary" >{% trans 'Go Home' %}</button>
    </div>
    
</div>
{% endblock %}
